*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
    flex-direction: column;
}

.frame{
    width: 55%;
    background-color: black;
    color: blue;
    font-weight: bold;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    height: 236px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 2px 4px 8px 16px blue;
}

.frame #time{
    font-size: 84px;
}

.frame #date_line{
    font-size: 43px;
}